// github banner
.github-corner svg {
    color: #fff;
    fill: var(--theme-color);
    position: absolute;
    right: 0;
    top: 0;
    z-index: 5;
}

// open chat btn
.gitter-open-chat-button {
    padding: 10px;
}

a:hover {
  color: #0ff;
  border-bottom-color: #0ff;
}